﻿
@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/reception")
<div class="col-md-6">
    <h2>Ваш абитуриент</h2>

    <button type="button" class="btn btn-primary" id="next">Следующий</button>
    <button type="button" class="btn btn-primary" id="late" disabled>Студент опоздал</button>
    <button type="button" class="btn btn-primary" id="apply" disabled>Принять студента</button>
</div>
<div class="col-md-6">
    <h2>Ваши специальности:</h2>
    <p>@ViewBag.SpecialtyNames</p>
</div>
<div id="enrolleeInfo" style="display: none; clear: both;">
    <br>
    <br>
    <hr>
    <span style="color: red; display: none;">У вас имеется необработанная заявка!</span>
    <table>
        <tr>
            <td>Номер заявки </td>
            <td id="requestNumber"></td>
        </tr>
        <tr>
            <td>Имя абитуриента: </td>
            <td id="enrolleeName"></td>
        </tr>
        <tr>
            <td>Дата регистрации: </td>
            <td id="registrationDate"></td>
        </tr>
        <tr>
            <td>Специальность: </td>
            <td id="specialty"></td>
        </tr>
    </table>
</div>