﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Электронная очередь</h2>
<br><br>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Электронные системы управления потоками клиентов помогают изменить и повысить качество обслуживания. В случае необходимости позволяют организовать запись посетителей на прием по времени и дате. Системы электронной очереди позволяют на основе полученных в процессе работы данных оптимизировать обслуживание или разрабатывать новые методики, а также оперативно вносить коррективы. Следствием применения систем электронных очередей является улучшение общего климата обслуживания и более высокий коэффициент работы персонала учреждения.
</p>
<br>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Система электронной очереди отличается от систем «вызова клиента» тем, что позволяет ввести гибко настраиваемый алгоритм управления потоком клиентов, вести учёт и статистику работы операторов и интенсивности потока, что позволяет эффективно планировать нагрузку на операторов, а также использовать информационные табло для отображения рекламной информации. Кроме этого, в системе предусмотрены функции управления настройками системы и её исполнительными модулями. Данный тип систем можно отнести к on-line системам, работающим и управляемым в реальном времени.</p>

