﻿@{
    ViewBag.Title = "Регистрация абитуриентов";
    Layout = "../Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/main")
<h2 class="text-center">Регистрация абитуриентов</h2>
<br><hr>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label for="EnrolleeName">Имя</label>
                <input type="text" class="form-control" id="EnrolleeName" name="EnrolleeName" placeholder="Введите имя абитуриента" required>
            </div>
            <div class="form-group">
                <label for="EnrolleeLastName">Фамилия</label>
                <input type="text" class="form-control" id="EnrolleeLastName" name="EnrolleeLastName" placeholder="Введите фамилию абитуриента" required>
            </div>
            <div class="form-group">
                <label for="">Специальность</label>
                <select name="Specialty" id="specialty_list" class="form-control"></select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="registerEnrollee">Зарегистрировать</button>
            </div>
        </div>
    </div>
</div>