﻿@model IEnumerable<ElectronicQueue.BL.Models.RequestViewModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                location.reload();
            }, 1000);
        });
    </script>
</head>
<body>
<div class="row" style="margin-top: 100px;">
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Номер заявки</th>
            <th>Имя абитуриента</th>
            <th>Фамилия абитуриента</th>
            @if (User.IsInRole("admin") || User.IsInRole("operator"))
            {
                <th>Имя оператора</th>
                <th>Фамилия оператора</th>
            }
            <th>Специальность</th>
            <th>Аудитория</th>
            <th>Стол</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.RequestNumber</td>
                    <td>@m.EnrolleeFirstName</td>
                    <td>@m.EnrolleeLastName</td>
                    @if (User.IsInRole("admin"))
                    {
                        <td>@m.UserFirstName</td>
                        <td>@m.UserLastName</td>
                    }
                    
                    <td>@m.SpecialtyName</td>
                    <td>@m.LectureHallName</td>
                    <td>@m.LectureTableName</td>
                    <td>@m.StepName</td>
                    @if (User.IsInRole("admin"))
                    {
                        <td>@Html.ActionLink("Удалить", "DeleteRequest", new { requestId = m.RequestId })</td>
                    }
                </tr>

            }
        </tbody>
    </table>
</div>
</body>
</html>
