﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <title>Электронная очередь</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Электронная очередь поступления", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Дисплей", "Index", "Display")</li>
                        if (User.IsInRole("teacher"))
                         {
                             <li>@Html.ActionLink("Прием", "Index", "Reception")</li>
                        }

                        if (User.IsInRole("operator"))
                        {
                            <li>@Html.ActionLink("Регистрация абитуриента", "Index", "EnrolleeRegistration")</li>
                        }

                        if (User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Панель управления", "Index", "ControlPanel")</li>
                        }

                        <li>@Html.ActionLink("Выйти", "Logout", "Authorization")</li>
                       
                    }
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    
    
    @Scripts.Render("~/bundles/bootstrap")
   
    @RenderSection("scripts", required: false)
</body>
</html>
