﻿@model List<ElectronicQueue.BL.Models.SpecialtyViewModel>
@{
    ViewBag.Title = "Панель управления";
}
<script type="text/javascript">
    var urls = {
        addUser: '@Url.Action("AddUser")'
    };
</script>

@Scripts.Render("~/bundles/control_panel")
<h2>Панель управления</h2>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#specialty" aria-controls="all" role="tab" data-toggle="tab">Специальности</a>
    </li>
    <li role="presentation">
        <a href="#tables" aria-controls="all" role="tab" data-toggle="tab">Столы</a>
    </li>
    <li role="presentation">
        <a href="#operators" aria-controls="all" role="tab" data-toggle="tab">Операторы</a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="specialty">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Название</th>
                <th colspan="2">Имя преподавателя</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Name</td>
                    <td>@m.Teacher</td>
                    <td>@Html.ActionLink("Удалить", "Delete", new {@guid = m.SpecialtyId})</td>
                    <td><a class="changeSpecialtyBtn" data-id="@Html.Raw(m.SpecialtyId)" @*data-toggle="modal" data-target="#changeSpecialtyModal"*@ style="cursor: pointer">Изменить</a></td>
                </tr>
            }

            </tbody>
        </table>
        <button type="submit" class="btn" data-toggle="modal" data-target="#addSpecialtyModal">Добавить специальность</button>

    </div>
    <div id="tables" class="tab-pane">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Название</th>
                <th>Аудитория</th>
                <th colspan="3">Специальность</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var m in ViewBag.LectureHallTables)
            {
                <tr>
                    <td>@m.Id</td>
                    <td>@m.Name</td>
                    <td>@m.LectureHallName</td>
                    <td>@m.SpecialtyName</td>
                    <td><a class="changeLectureHallBtn" data-toggle="modal" data-target="#changeLectureHallModal" style="cursor: pointer">Перезакрепить</a></td>
                    <td>@Html.ActionLink("Удалить", "DeleteLectureTable", new {@guid = m.Id})</td>
                </tr>
            }

            </tbody>
        </table>
        <button type="submit" class="btn" data-toggle="modal" data-target="#addLectureHallTableModal">Добавить стол</button>

    </div>
    <div id="operators" class="tab-pane">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Логин</th>
                <th>Пароль</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Роль</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var m in ViewBag.Users)
            {
                <tr>
                    <td>@m.Login</td>
                    <td>@m.Password</td>
                    <td>@m.FirstName</td>
                    <td>@m.LastName</td>
                    <td>@m.RoleName</td>
                    <td>@Html.ActionLink("Удалить", "DeleteUser", new {@guid = m.UserId})</td>
                </tr>
            }
            </tbody>
        </table>
        <button id="showModalUserAdding" class="btn btn-primary">Добавить пользователя</button>
    </div>
</div>

<!-- Модальные окна -->
<div class="modal fade" id="changeSpecialtyModal" tabindex="-1" role="dialog" aria-labelledby="changeSpecialtyLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="changeSpecialtyLabel">Специальность</h4>
            </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.TextBox("SpecialtyName", null, new { @class = "form-control", @placeholder = "Новое название" })
                    </div>
                    <div class="form-group">
                        <label>Преподаватель</label>
                        @Html.DropDownList("TeacherId", (IEnumerable<SelectListItem>)ViewBag.Teachers, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Приоритетная?</label>
                        @Html.CheckBox("IsPriorS", false)
                    </div>

                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <input type="submit" id="changeSpecialtyModalBtn" class="btn btn-primary" value="Изменить">
                    </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addSpecialtyModal" tabindex="-1" role="dialog" aria-labelledby="addSpecialtyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addSpecialtyModalLabel">Специальность</h4>
            </div>
            @using (Html.BeginForm("Add", "ControlPanel", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.TextBox("Name", null, new {@class = "form-control", @placeholder = "Название специальности"})
                    </div>
                    <div class="form-group">
                        <label>Преподаватель</label>
                        @Html.DropDownList("Teacher", (IEnumerable<SelectListItem>)ViewBag.Teachers, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Приоритетная?</label>
                        @Html.CheckBox("IsPrior", false)
                    </div>
                    
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <input type="submit" class="btn btn-primary" value="Добавить">
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addUserModalLabel">Пользователь</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="login">Логин</label>
                    <input id="login" type="text" class="form-control" placeholder="Логин"/>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input id="password" type="password" class="form-control" placeholder="Пароль"/>
                </div>
                <div class="form-group">
                    <label for="firstName">Имя</label>
                    <input id="firstName" type="text" class="form-control" placeholder="Имя"/>
                </div>
                <div class="form-group">
                    <label for="lastName">Фамилия</label>
                    <input id="lastName" type="text" class="form-control" placeholder="Фамилия"/>
                </div>
                <div class="form-group">
                    <label for="role">Роль</label>
                    <select id="role" class="form-control">
                        <option value="1">Администратор</option>
                        <option value="2">Оператор</option>
                        <option value="3">Преподаватель</option>
                    </select>
                </div>
                <div id="addingUserErrors">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <input type="submit" class="btn btn-primary" id="addUser" value="Добавить">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addLectureHallTableModal" tabindex="-1" role="dialog" aria-labelledby="addLectureHallTableModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addLectureHallTableModalLabel">Введите название</h4>
            </div>
            @using (Html.BeginForm("AddLectureHallTable", "ControlPanel", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label>Фамилия</label>
                        @Html.TextBox("Name", null, new { @class = "form-control", @placeholder = "Наименование стола" })
                    </div>

                    <div class="form-group">
                        <label>Аудитория</label>
                        @Html.DropDownList("LectureHallId", (IEnumerable<SelectListItem>) ViewBag.LectureHalls, new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        <label>Специальность</label>
                        @Html.DropDownList("SpecialtyId", (IEnumerable<SelectListItem>)ViewBag.Specialties, new { @class = "form-control" })

                    </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <input type="submit" class="btn btn-primary" value="Добавить">
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="changeLectureHallModal" tabindex="-1" role="dialog" aria-labelledby="changeLectureHallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="changeLectureHallModalLabel">Выберите аудитерию</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>Аудитория</label>
                    @Html.DropDownList("ChangeLectureHallLectureHalls", (IEnumerable<SelectListItem>)ViewBag.LectureHalls, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Специальность</label>
                    @Html.DropDownList("ChangeLectureHallSpecialties", (IEnumerable<SelectListItem>)ViewBag.Specialties, new { @class = "form-control" })

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <input type="submit" id="changeLectureHallBtn" class="btn btn-primary" value="Закрепить">
            </div>

        </div>
    </div>
</div>

