﻿@model ElectronicQueue.Models.LoginModel
@{
    Layout = null;
}

@Styles.Render("~/Content/css")

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Авторизация</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Login", "Authorization"))
                    {
                        <div class="form-group">
                            @Html.ValidationSummary(true, "Неверное имя пользователя или пароль", new { @class = "alert  alert-danger" })

                            @Html.LabelFor(a => a.Login)
                            @Html.TextBoxFor(a => a.Login, new { @placeholder = "Имя пользователя или Email", @class = "form-control" })

                            @Html.LabelFor(a => a.Password)
                            @Html.PasswordFor(a => a.Password, new { @placeholder = "Пароль", @class = "form-control center" })

                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(a => a.RememberMe)
                                    @Html.LabelFor(a => a.RememberMe, new { @style = "padding-left: 0;" })
                                </label>
                            </div>
                        </div>
                        <div class="form-group" align="center">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Вход">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")